<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Centered Image</title>
</head>
<body>
    <div class=" container-fluid text-center">
        <!--students image-->
        <img src="/views/images/user2.jpg" class="rounded" alt="..." style="height: 150px;width: 150px; margin-bottom: 50px;">
        <!--students info from query-->
        <p><strong>Name : </strong>  <%= student_data.FIRST_NAME %> <%= student_data.LAST_NAME %> </p>
        <p><strong>Department : </strong> <%= student_data.DEPARTMENT %></p>
        <p><strong>Student ID : </strong> <%= student_data.STUDENT_ID %></p>
        <p><strong>Level-Term : </strong> <%= student_data.LEVEL_TERM %> </p>
        <p><strong>Credits Completed : </strong> <%= student_data.CREDITS_COMPLETED %></p>
      </div>
</body>
</html>
