<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Centered Image</title>
</head>
<body>
    <div class=" container-fluid text-center">
        <!--students image-->
        <img src="/views/images/user2.jpg" class="rounded" alt="..." style="height: 150px;width: 150px; margin-bottom: 50px;">
        <!--students info from query-->
        <p style="font-size: large;"><strong><%= teacher_data.FIRST_NAME %> <%= teacher_data.LAST_NAME %> </strong>  </p>
        <p><%= teacher_data.DESIGNATION %> , Department of  <%= teacher_data.DEPARTMENT %></p>
        <p><strong>ID : </strong> <%= teacher_data.TEACHER_ID %></p>
        <p><strong>EMAIL : </strong><%= teacher_data.EMAIL %></p>
      </div>
</body>
</html>