<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        div.scroll {
            Width: 5px;
            Height: 10 px;
            Overflow-x: scroll;
            Overflow-y: scroll;
        }
    </style>
</head>

<body>
    <div class="table-responsive text-center container  bg-transparent div-scroll"
        style="width : 100%;" id="div1">
        <p style="margin-top: 20px; margin-bottom: 15px; font-size: large; font-weight: bold;">Department : <%= dept %></p>
        <h4>Available Courses</h4>
        <div class="alert alert-success" role="alert" style="display: none;" id="succesAlertDiv">
            This is a success alert—check it out!
          </div>
        <table class="table table-bordered table-hover " style="margin-top: 20px;">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Course ID</th>
                    <th scope="col">Course Title</th>
                    <th scope="col">Level-Term</th>
                    <th scope="col">Session</th>
                    <th scope="col">Credit Hours</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-primary">
                <% addCourses.rows.forEach(courses=> { %>
                    <tr>
                        <td>
                            <%= courses.COURSE_ID %>
                        </td>
                        <td>
                            <%= courses.COURSE_TITLE %>
                        </td>
                        <td>
                            <%= courses.LEVEL_TERM%>
                        </td>
                        <td>
                            <%= courses.SESSION_NAME%>
                        </td>
                        <td>
                            <%= courses.CREDIT_HOURS%>
                        </td>
                        <td ><button class="btn btn-dark btn-sm addCourseButton">ADD</button></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        

        <h3>Drop Courses</h3>
        <table class="table table-bordered table-hover " style="margin-top: 20px;">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Course ID</th>
                    <th scope="col">Course Title</th>
                    <th scope="col">Level-Term</th>
                    <th scope="col">Session</th>
                    <th scope="col">Credits</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-primary">
                <% dropCourses.rows.forEach(courses=> { %>
                    <tr>
                        <td>
                            <%= courses.COURSE_ID %>
                        </td>
                        <td>
                            <%= courses.COURSE_TITLE %>
                        </td>
                        <td>
                            <%= courses.LEVEL_TERM%>
                        </td>
                        <td>
                            <%= courses.SESSION_NAME%>
                        </td>
                        <td>
                            <%= courses.CREDIT_HOURS%>
                        </td>
                        <td ><button class="btn btn-dark btn-sm dropCourseButton">DROP</button></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        
    </div>

</body>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</html>