<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
    <title>Document</title>
    <style>
        div.scroll {
            Width: 5px;
            Height: 10 px;
            Overflow-x: scroll;
            Overflow-y: scroll;
        }
    </style>
</head>

<body>
    <div class="table-responsive text-center container div-scroll"
        style=" height: 500px; width : auto; background-color:rgb(237, 207, 169),;" id="div1">
        <table class="table table-bordered table-hover">
            <caption style="color: black; font-size: larger;">List of Students</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Student ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Level-Term</th>
                    <th scope="col">Department</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">Address</th>
                    <th scope="col">Advisor ID</th>
                    <th scope="col">Section</th>
                </tr>
            </thead>
            <tbody class="table-primary">
                <% students.rows.forEach(student=> { %>
                    <tr>
                        <td>
                            <%= student.STUDENT_ID %>
                        </td>
                        <td>
                            <%= student.FIRST_NAME %>
                        </td>
                        <td>
                            <%= student.LAST_NAME %>
                        </td>
                        <td>
                            <%= student.LEVEL_TERM %>
                        </td>
                        <td>
                            <%= student.DEPARTMENT %>
                        </td>
                        <td>
                            <%= student.EMAIL %>
                        </td>
                        <td>
                            <%= student.PHONE_NO %>
                        </td>
                        <td>
                            <%= student.ADDRESS %>
                        </td>
                        <td>
                            <%= student.ADVISOR_ID %>
                        </td>
                        <td>
                            <%= student.SECTION_NAME %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    </div>
</body>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</html>